# STAT 6240.G Statistical Data Mining - Spring 2021

# Homework 3: Association Anlysis

# Muzhe Guo

https://github.com/Mooozer/Stats6240/blob/main/HW3_Guo_Muzhe.ipynb

#### Homework Questions 
<br> t1: Beef, Chicken, Milk 
<br> t2: Beef, Cheese 
<br> t3: Cheese, Boots
<br> t4: Beef, Chicken, Cheese
<br> t5: Beef, Chicken, Clothes, Cheese, Milk
<br> t6: Chicken, Clothes, Milk
<br> t7: Chicken, Milk, Clothes

Question: Given the above transaction data t1 to t7, assume: minsup = 30%, minconf = 80%, find all the frequent itemset, calculate support. (5 points), generate association rules from the itemset, calculate support and confidence (5 points).

Frequent itemset example:
<br>{Chicken, Clothes, Milk} [sup = 3/7]

Association rules example:
<br>Clothes â†’ Milk, Chicken [sup = 3/7, conf = 3/3]

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [2]:
records = [['Beef', 'Chicken', 'Milk'] , 
           ['Beef', 'Cheese'], 
           ['Cheese', 'Boots'], 
           ['Beef', 'Chicken', 'Cheese'],
           ['Beef', 'Chicken', 'Clothes', 'Cheese', 'Milk'], 
           ['Chicken', 'Clothes', 'Milk'],
           ['Chicken', 'Milk', 'Clothes']]
association_rules = apriori(records,  min_support=0.3)
association_results = list(association_rules)

### (1). find all the frequent itemset, calculate support.

In [3]:
Frequent_itemset = pd.DataFrame({'itemset':[], 'support': []}) 
for i in range(len(association_results)):
    Frequent_itemset.loc[i] = [set(association_results[i][0]), association_results[i][1]]
Frequent_itemset

                     itemset   support
0                     {Beef}  0.571429
1                   {Cheese}  0.571429
2                  {Chicken}  0.714286
3                  {Clothes}  0.428571
4                     {Milk}  0.571429
5             {Cheese, Beef}  0.428571
6            {Chicken, Beef}  0.428571
7         {Clothes, Chicken}  0.428571
8            {Chicken, Milk}  0.571429
9            {Clothes, Milk}  0.428571
10  {Clothes, Chicken, Milk}  0.428571

### (2). generate association rules from the itemset, calculate support and confidence

In [4]:
pd.set_option('max_colwidth',100)
association_rules2 = apriori(records,  min_support=0.3, min_confidence=0.79999)
association_results = list(association_rules2)

index = 0 
Association_rules = pd.DataFrame({'Association':[], 'support': [], 'confidence': []}) 
for i in range(len(association_results)):
    for j in range(len(association_results[i][2])): 
        Association = str(list(association_results[i][2][j][0])) +'->' + str(list(association_results[i][2][j][1]))
        support = association_results[i][1]
        confidence = association_results[i][2][j][2]
        Association_rules.loc[index] = [Association, support, confidence]
        index += 1
Association_rules

                        Association   support  confidence
0          ['Clothes']->['Chicken']  0.428571         1.0
1             ['Chicken']->['Milk']  0.571429         0.8
2             ['Milk']->['Chicken']  0.571429         1.0
3             ['Clothes']->['Milk']  0.428571         1.0
4  ['Clothes']->['Chicken', 'Milk']  0.428571         1.0
5  ['Clothes', 'Chicken']->['Milk']  0.428571         1.0
6  ['Clothes', 'Milk']->['Chicken']  0.428571         1.0